<div class="flex">
    <div>
        <app-sidebar />
    </div>


    <div>
        @if (!mostrarModal){
        <div class="p-6">
            <button class="bg-sky-700 border rounded mb-4 text-gray-50 px-3 py-1 mr-3" (click)="mostrarComoModal()">+
                Agregar</button>
            <!-- <input type="text" class="border rounded px-3 py-1 mb-4" (input)="filterTable($event.target.value)" placeholder="Buscar"> -->
            <table class="min-w-full divide-y divide-gray-200">
                <thead>
                    <tr>
                        <th
                            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Id</th>
                        <th
                            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Nombre</th>
                        <th
                            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Dirección</th>
                        
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    @for (pv of providerList; track $index){
                    <tr>
                        <td class="px-6 py-4 whitespace-no-wrap">{{pv['id']}}</td>
                        <td class="px-6 py-4 whitespace-no-wrap">{{pv['fullName']}}</td>
                        <td class="px-6 py-4 whitespace-no-wrap">{{pv['addres']}}</td>                        
                    </tr>
                    }

                </tbody>
            </table>
        </div>

        }@else{

        <div class="m-6">
            <form class="items-center justify-center">
                <div class="space-y-12 border">
                    <div class="border-b border-gray-900/10 pb-12">
                        <h2 class="text-base font-semibold leading-7  bg-slate-400 text-white">CREACIÓN DE
                            PROVEEDOR
                        </h2>
                        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                            <div class="sm:col-span-2 sm:col-start-1">
                                <label for="city"
                                    class="block text-sm font-medium leading-6 text-gray-900">Nombre y Apellido</label>
                                <div class="mt-2">
                                    <input type="text" name="city" id="city" autocomplete="address-level2" 
                                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" [(ngModel)]="nameProvider">
                                </div>
                            </div>
                            <div class="sm:col-span-2">
                                <label for="region"
                                    class="block text-sm font-medium leading-6 text-gray-900">Direccion</label>

                                <div class="mt-2">
                                    <input type="text" name="region" id="region" autocomplete="address-level1" [(ngModel)]="addressProvider"
                                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-6 flex items-center justify-end gap-x-6">
                    <button type="button"
                        class="rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" (click)="cerrarModal()">Cancel</button>
                    <button type="submit"
                        class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" (click)="addProvider()">Save</button>
                </div>
            </form>

        </div>


        }

    </div>
</div>
